<?xml version="1.0" encoding="UTF-8"?>  
<configuration>  
 <system.webServer>
  <handlers>
   <add name="httpPlatformHandler" path="*" verb="*" 
             modules="httpPlatformHandler" resourceType="Unspecified" />
  </handlers>
   <environmentVariables>

    <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot;D:\home\Python364x86;D:\home\Python364x86\lib\site-packages;" />
    <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
    <environmentVariable name="PG_DB_PWD" value="86f0f4a8ad59a6142f72d279e01057e4057108017cec5dd991f7e8b59b6e8a82" />
    <environmentVariable name="MY_EMAIL_PWD" value="monbsphalzehgtmd" />
    <environmentVariable name="DEBUG_SET" value=False />
    <environmentVariable name="SECRET_KEY" value="i0&iq&e9u9h6(4_7%pt2s9)f=c$kso=k$c$w@fi9215s=1q0^d" />
    <environmentVariable name="DATABASE_URL" value="postgres://ejbkmjdblbkqaj:86f0f4a8ad59a6142f72d279e01057e4057108017cec5dd991f7e8b59b6e8a82@ec2-54-221-198-156.compute-1.amazonaws.com:5432/d88cu7nd631pqb" />

   </environmentVariables>

<httpPlatform processPath="D:\home\Python364x86\python.exe" 
              arguments="run_waitress_server.py"
              requestTimeout="00:04:00" 
              startupTimeLimit="120" startupRetryCount="3" stdoutLogEnabled="true">
  <!-- <httpPlatform processPath="D:\home\Python364x86\python.exe"
 arguments="run_waitress_server.py" requestTimeout="00:04:00" startupTimeLimit="120" startupRetryCount="3" stdoutLogEnabled="true"> -->
   <!-- arguments="manage.py runserver %HTTP_PLATFORM_PORT%"  -->
  </httpPlatform>
 </system.webServer>
</configuration>  