{% load static %}
<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url({% static 'orders/images/about.jpg' %});"></div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4">Welcome to Pinochio's <span class="flaticon-pizza">Pizza</span> A Restaurant</h2>
        </div>
        <div>
            <p align="justify">On her way she met a copy. The copy warned the Little Blind Text, that where it came from
                it would have
                been rewritten a thousand times and everything that was left from its origin would be the word "and" and
                the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said
                could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her
                drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
        </div>
    </div>
</section>