{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<link href="{% static 'orders/css/bootstrap.min.css' %}" rel="stylesheet">
<h3>Greetings !!,</h3>
<div class="ml-5">
    <h4>
        Welcome to Pinochio's Pizza & subs {{ first_name }},
        <br>
        Your Order is Placed Successfully as details below
        <br>
    </h4>
    <div>
        {% for item in cartItems %}
            <span> {{ item.prodname }}</span>
            <span>{{ item.catname }}</span>
            <div>
                Toppings:
                {% for top in item.topping %}
                    {{ top }}
                {% endfor %}
            </div>
            <div>
                Extras:
                {% for ext in item.extras %}
                    {{ ext }}
                {% endfor %}
            </div>
            <div>
                Item Cost is {{ item.itemcost }}
            </div>
        {% endfor %}
        <div>
            Total Bill Amount is {{ total_amount }}
        </div>

    </div>
</div>
<br><br>
<h1>
    <strong>
        Thanks & Regards,<br>
        Harish Ahuja(Developer)
    </strong>
</h1>
