<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">

    <title>Contact Submitted</title>

</head>
<body>
    {% load static %}

    <link href="{% static 'orders/css/bootstrap.min.css' %}" rel="stylesheet">
    <h3>Greetings !!,</h3>
    <div class="ml-5">
        <h6>
            Welcome to Pinochio's Pizza & subs {{ fullname }},
            <br>
            your message is submitted to admin was
            <br>
        </h6>
        <strong>
            {{ msg }}
        </strong>
    </div>
    <br><br>
    <strong>
        Thanks & Regards,<br>
        Harish Ahuja(Developer)
    </strong>

</body>
</html>