{% load static %}
<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'orders/images/gallery-1.jpg' %}" class="gallery img d-flex align-items-center"
                    style="background-image: url({% static 'orders/images/gallery-1.jpg' %});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'orders/images/gallery-2.jpg' %}" class="gallery img d-flex align-items-center"
                    style="background-image: url({% static 'orders/images/gallery-2.jpg' %});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'orders/images/gallery-3.jpg' %}" class="gallery img d-flex align-items-center"
                    style="background-image: url({% static 'orders/images/gallery-3.jpg' %});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'orders/images/gallery-4.jpg' %}" class="gallery img d-flex align-items-center"
                    style="background-image: url({% static 'orders/images/gallery-4.jpg' %});">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>