{% extends 'orders/base.html' %}
{% load static %}

{% block title %}
HOME
{% endblock %}

{% block content %}
<!-- owl carousel -->
<section class="home-slider owl-carousel img shop-img"
    style="background-image: url({% static 'orders/images/bg_1.jpg' %});" data-pause="hover">
    <div class="slider-item" data-pause="hover">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true" data-pause="hover">
                <div class="col-md-6 col-sm-12 ftco-animate">
                    <span class="subheading">Delicious</span>
                    <h1 class="mb-4">Italian Cuizine</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the
                        necessary regelialia.</p>
                    <p>
                        <!-- <button type="hidden" class="btn btn-primary p-3 px-xl-4 py-xl-3 add-to-cart">Order Now</button> -->
                        <a href="{% url 'menu' %}" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View
                            Menu</a>
                    </p>
                </div>
                <div class="col-md-6 ftco-animate">
                    <img src="{% static 'orders/images/bg_1.png' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">

                <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
                    <span class="subheading">Crunchy</span>
                    <h1 class="mb-4">Italian Pizza</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the
                        necessary regelialia.</p>
                    <p>
                        <!-- <button class="btn btn-primary p-3 px-xl-4 py-xl-3 add-to-cart">Order Now</button> -->
                        <a href="{% url 'menu' %}" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View
                            Menu</a>
                    </p>
                </div>
                <div class="col-md-6 ftco-animate">
                    <img src="{% static 'orders/images/bg_2.png' %}" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url({% static 'orders/images/bg_3.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">We cooked your desired Pizza Recipe</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the
                        necessary regelialia.</p>
                    <p>
                        <a href="{% url 'contact' %}" class="btn btn-primary p-3 px-xl-4 py-xl-3">Book a table Now</a>
                        <a href="{% url 'menu' %}" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View
                            Menu</a></p>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- intro -->
{% include 'orders/introsection.html' %}

<!-- about -->
{% include 'orders/aboutsection.html' %}

<!-- menu -->
<!-- include 'orders/menusection.html' -->


<!-- Gallery -->
{% include 'orders/gallerysection.html' %}


<!-- Counter -->
<section class="ftco-counter ftco-bg-dark img" id="section-counter"
    style="background-image: url({% static 'orders/images/bg_2.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <div class="icon"><span class="flaticon-pizza-1"></span></div>
                                <strong class="number" data-number="100">0</strong>
                                <span>Pizza Branches</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <div class="icon"><span class="flaticon-medal"></span></div>
                                <strong class="number" data-number="85">0</strong>
                                <span>Number of Awards</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <div class="icon"><span class="flaticon-laugh"></span></div>
                                <strong class="number" data-number="11000">0</strong>
                                <span>Happy Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <div class="icon"><span class="flaticon-chef"></span></div>
                                <strong class="number" data-number="900">0</strong>
                                <span>Staff</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- services -->
<!-- include 'orders/servicessection.html' -->


<!-- recent blog -->
<!-- include 'orders/blogsection.html' -->


<!-- Contact  -->
{% include 'orders/contactsection.html' %}

{% endblock %}