{% load static %}
{% load setvar %}

{% get_static_prefix as STATIC_PREFIX %}

<section class="ftco-section">

    <!-- <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4" id="hotpizza">Hot Pizza Meals</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.</p>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row no-gutters d-flex">
            {% for product in Products %}
                {% if 'pizza' in product.catagory|lower %}
                    <div class="col-lg-4 d-flex ftco-animate">
                        <div class="services-wrap d-flex">
                            <a href="{{ STATIC_PREFIX }}orders/{{ product.image }}" target="_blank"
                                class="img shop-img {% cycle '' '' '' 'order-lg-last' 'order-lg-last' 'order-lg-last' %}"
                                data-prodid="{{ product.id }}"
                                style="background-image: url({{ STATIC_PREFIX }}orders/{{ product.image }});">
                            </a>
                            <div class="text p-4">
                                <h4>{{ product.generic_name }}</h4>
                                <h6>{{ product.name }}</h6>
                                {% get_num_top product.name as numTop %}
                                    {% if numTop != 0 %}
                                        <select multiple name="topping"
                                            title="Select Toppings"
                                            data-container="body"
                                            data-width="150px"
                                            data-size="4"
                                            data-style="text-light bg-dark"
                                            data-max-options="{{ numTop }}"
                                            class="selectpicker">
                                            {% for topping in Toppings %}
                                                <option value="{{ topping.name }}"
                                                    data-topping="{{ topping.name }}"
                                                    data-price="0"
                                                    style="background: #000000;" >
                                                    {{ topping.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                <select name="size" class="size form-control-sm">
                                    <option value="small" data-price="{{ product.price_small }}" class="bg-secondary" >Small</option>
                                    <option value="large" data-price="{{ product.price_large }}" class="bg-secondary">Large</option>
                                </select>

                                <p class="price">
                                    <span>${{ product.price_small }}</span>
                                    <button class="ml-2 btn btn-white btn-outline-white add-to-cart">Order</button>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div> -->

    <div class="container">
        <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Our Menu Pricing</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                    there live the blind texts.
                </p>
            </div>
        </div>

        <div class="row">

            {% for catagory in Catagorys %}
            {% if catagory.name != "SubsExtra" %}
            <div class="col-md-6">
                <div class="d-flex flex-row">

                    <h2 class="flex-grow-1">{{ catagory }}</h2>

                    <div class="float-right">
                        <span class="p-2 ">Small</span>
                        <span class="p-2 ">Large</span>
                    </div>

                </div>
                {% for product in catagory.product_catagory.all %}

                <div class="pricing-entry d-flex ftco-animate">

                    <div class="img shop-img" data-prodid="{{ product.id }}" data-prodname="{{ product.name }}"
                        data-catname="{{ catagory.name }}"
                        style="background-image: url({{ STATIC_PREFIX }}orders/{{ product.image }});">
                    </div>

                    <div class="desc pl-3">

                        <div class="d-flex text align-items-center">
                            <h3>
                                <span>{{ product.name }}</span>
                            </h3>

                            <span class="price">${{ product.price_small }}</span>
                            <span class="price">${{ product.price_large }}</span>
                        </div>

                        <div class="d-block">
                            {% if 'pizza' in catagory.name|lower %}

                            {% get_num_top product.name as numTop %}
                            {% if numTop != 0 %}
                            <select multiple name="topping" title="Select Toppings" data-container="body"
                                data-width="150px" data-size="4" data-style="text-light bg-dark"
                                data-max-options="{{ numTop }}" class="selectpicker">
                                {% for topping in Toppings %}
                                <option value="{{ topping }}" data-topping="{{ topping }}" data-price="0"
                                    style="background: #000000;">
                                    {{ topping }}
                                </option>
                                {% endfor %}
                            </select>
                            {% endif %}
                            {% elif 'subs' in catagory.name|lower %}
                            <select multiple id="extras" name="subsextra" title="Add Extras" data-container="body"
                                data-width="150px" data-size="4" data-style="text-light bg-dark" class="selectpicker">
                                {% for prod in SubsExtra %}
                                <option value="{{ prod.name }}" data-extra="{{ prod.name }}"
                                    data-price="{{ prod.price_large }}" style="background: #000000;">
                                    {{ prod.name }} + ${{ prod.price_large }}
                                </option>
                                {% endfor %}
                            </select>
                            {% endif %}

                            <p class="d-inline-block">
                                <select name="size" class="size form-control-sm text-light bg-dark">
                                    <option value="small" data-price="{{ product.price_small }}" class="bg-secondary">
                                        Small</option>
                                    <option value="large" data-price="{{ product.price_large }}" class="bg-secondary">
                                        Large</option>
                                </select>
                            </p>

                            <p class="d-inline-block float-right">
                                <button class="ml-2 btn btn-white btn-outline-white add-to-cart">Order</button>
                            </p>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<!-- <section class="ftco-menu">
    <div class="container-fluid">
        <div class="row d-md-flex">
            <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0"
                style="background-image: url({% static 'orders/images/about.jpg' %});">
            </div>
            <div class="col-lg-8 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">

                            {% for catagory in Catagorys %}

                            {% if 'subsextra' not in catagory.name|lower %}
                            <a class="nav-link {% cycle 'active' '' '' '' '' '' %} " id="v-pills-{{ catagory.id }}-tab" data-toggle="pill" href="#v-pills-{{ catagory.id }}"
                                    role="tab" aria-controls="v-pills-{{ catagory.id }}" aria-selected="{% cycle 'true' '' '' '' '' '' %}">
                                {{ catagory.name }}
                            </a>

                            {% endif %}
                            {% endfor %}                            

                            </div>
                    </div>

                    <div class="col-md-12 d-flex align-items-center">

                        <div class="tab-content ftco-animate" id="v-pills-tabContent">
                            {% for catagory in Catagorys %}
                            {% if "subsextra" not in catagory.name|lower %}
                            <div class="tab-pane fade show {% cycle 'active' '' '' '' '' '' %}" id="v-pills-{{ catagory.id }}" role="tabpanel"
                                aria-labelledby="v-pills-{{ catagory.id }}-tab">
                                <div class="row">

                                    {% for product in catagory.product_catagory.all %}

                                    {% if forloop.counter <= 3 %}

                                    <div class="col-md-4 text-center">
                                        <div class="menu-wrap">
                                            <a href="{{ STATIC_PREFIX }}orders/{{ product.image }}" 
                                                target="_blank" class="menu-img img mb-4 shop-img" data-prodID="{{ product.id }}"
                                                style="background-image: url({{ STATIC_PREFIX }}orders/{{ product.image }} )">
                                            </a>
                                            <div class="text">
                                                <h3>{{ product.generic_name }}</h3>
                                                <p>{{ product.name }}</p>

                                                <select name="size" class="size form-control form-control-sm">
                                                    <option value="small" data-price="{{ product.price_small }}" class="bg-secondary" >Small</option>
                                                    <option value="large" data-price="{{ product.price_large }}" class="bg-secondary">Large</option>
                                                </select>
                        
                                                <p class="price">
                                                    <span>$ {{ product.price_small }}</span>
                                                    <button class="btn btn-white btn-outline-white add-to-cart">Add to cart</button>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->