{% extends 'orders/base.html' %}


{% block title %}
Your Orders
{% endblock %}

{% block content %}
{% load static %}

{% get_static_prefix as STATIC_PREFIX %}
<div class="container">
    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">
                Your orders
            </h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-column">
                <div class="table-responsive" style="height: 50vh;overflow: scroll;">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <h4>
                                {% if user.is_superuser %}
                                <th>username</th>
                                {% endif %}

                                <th> Order ID </th>
                                <th> Order Status </th>
                                <th> Bill Amount </th>
                            </h4>
                        </tr>
                        {% for order in orders %}

                        <tr>
                            {% if user.is_superuser %}
                            <th>{{ order.user }}</th>
                            {% endif %}

                            <td>{{ order.id }}</td>
                            <td><a href="{% url 'checkorderid' order.id %}">{{ order.get_status_display }}</a></td>
                            <td>{{ order.amount }}</td>
                        </tr>

                        {% empty %}
                        <h2>
                            No Orders found
                            <a href="{% url 'menu' %}" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View
                                Menu</a>
                        </h2>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}