{% extends 'orders/base.html' %}


{% block content %}
{% if validlink %}
<div class="container align-items-center">
    <h3>Change password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary" type="submit">Change password</button>
    </form>
    {% else %}
    <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
</div>
{% endif %}


{% endblock %}

